<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/docs.js"></script>

<!--<script src="https://assets.publishing.service.gov.uk/static/govuk-template-ae4c5d21c0a7cb5bc8926a9f491de4e410244403f66c72997210c281efb92d4f.js" crossorigin="anonymous" integrity="sha256-rkxdIcCny1vIkmqfSR3k5BAkRAP2bHKZchDCge+5LU8="></script>-->

<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-ed31ded6ad05fadc3fa56c9f1b1d6cb2b1c9734a8ccb277bf6833d59d7320901.js" crossorigin="anonymous" integrity="sha256-7THe1q0F+tw/pWyfGx1ssrHJc0qMyyd79oM9WdcyCQE="></script>


<!--This script makes it sticky-->
<script src="https://assets.publishing.service.gov.uk/service-manual-frontend/application-93857cd3afdb2cfc14d9bc506f765b1271a3da4e97101950edc801c5ced78bdb.js"></script>