{% extends "sprint-2/layout.html" %}

{% block pageTitle %}
  Learner destination and progression: entity definition and fields
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
	{
      text: "ILR specification 2019 to 2020",
      href: '/sprint-2/ilr-specification-2019-to-2020'
    },
    {
      text: "Specification of the individualised learner record for 2019 to 2020",
      href: '/sprint-2/specification-of-the-Individualised-learner-record-for-2019-to-2020'
    },	
	{
      text: "Entities definitions and fields",
      href: '/sprint-2/entities-speficiation-definitions/entities-definitions-and-fields'
    }	
	
  ]
}) }}

<a class="govuk-back-link" href="/sprint-2/entities-speficiation-definitions/entities-definitions-and-fields.html">Back</a> 

{% endblock %}

{% block content %}
<div id="wrapper">
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class="manuals-frontend-body inner-block">

		  
<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context">ILR Spec</p>
      <h1 class="page-header__title">
        Learner destination and progression: entity 
      </h1>	
	</div>
	</div>	
	
  <div class="column-third">
    <div class="community-contact">
      <p>
        <a class="feedback" href="#">Give feedback about this page</a>
      </p>
    </div>
  </div>

  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="#">Education and Skills Funding Agency</a>
            </dd>
		    <dt>Published:</dt>
		    <dd>31 January 2019</dd>
			<dt>Last updated:</dt>
			<dd>
			  31 January 2019 — <a href="/sprint-2/summary-of-changes.html">see all updates</a>
			</dd>	
		
      </dl>
    </div>

  </div>
		
	
	

	
<!--<div class="column-two-thirds">
    <div class="page-header">	
	  <p class="summary">The destination of the learner when they have completed or withdrawn from the activities on their original learning agreement or plan. </p>
    </div>
  </div>-->
	
</div>
		  

	
	  

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds"> 
	  
	<blockquote class="noquotes">
	<p><strong class="govuk-tag">VERSION 1</strong>&nbsp;&nbsp;&nbsp;Version 1 changes: Updates published January 2019</p>
	<p>What's changed?</p>
	<p>V1: <strong>amendment to Notes section for 2019 to 2020</strong></p>
	</blockquote>
	  
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
	  
		<h2 class="govuk-heading-m">Definition</h2>
		<p>The destination of the learner when they have completed or withdrawn from the activities on their original learning agreement or plan.</p>
		 
		<h2 class="govuk-heading-m">Reason required</h2>
		<ul class="list list-bullet">
					  <li>To demonstrate how the FE sector is contributing to the future success of learners </li>
					  <li>Minimum standards and publishing provider level outcomes for traineeships </li>
					  <li>ESF funding </li> 
					  <li>DfE completion and attainment measure</li>
		</ul>
	
<h2 class="govuk-heading-m">Schema definitions</h2>
<table class="govuk-table">
  
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">XML Element Name</th>
      <td class="govuk-table__cell">LearnerDestinationandProgression</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Minimum occurrences</th>
      <td class="govuk-table__cell">0</td>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Maximum occurrences</th>
      <td class="govuk-table__cell">Unbounded</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Part of</th>
      <td class="govuk-table__cell">Message</td>
    </tr>
  </tbody>
</table>
	
		<h2 class="govuk-heading-m">Collection requirements</h2>
		<ul class="list list-bullet">
					  <li>16-19 excluding Apprenticeships (FundModel 25)</li>
					  <li>ESF (FundModel 70)</li>
					  <li>Other Adult (FundModel 81)</li> 
					  <li>Adult Skills (FundModel 35)</li>
					  <li>Non-levy funded apprenticeships (FundModel 36, ACT2)</li>
		</ul>
	
	
<table class="govuk-table">
  <!--<caption class="govuk-table__caption">Learner employment status: entity</caption>-->
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>XML elements</strong></th>
	  <td class="govuk-table__cell"><strong>Schema mandation</strong></td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row">LearnRefNumber</th>
	  <td class="govuk-table__cell">Y</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row">ULN</th>
	  <td class="govuk-table__cell">Y</td>
    </tr>	
  </tbody>
</table> 
	
	
<table class="govuk-table">
  <!--<caption class="govuk-table__caption">Learner employment status: entity</caption>-->
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Child entities</strong></th>
	  <td class="govuk-table__cell"><strong>Schema mandation</strong></td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#41">DPOutcome</a></th>
	  <td class="govuk-table__cell">Y</td>
    </tr>
  </tbody>
</table> 
	
	
<!--	  
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#4">Learner reference number</a></th>
	  <td class="govuk-table__cell">LearnRefNumber</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#5">Unique Learner  Number</a></th>
	  <td class="govuk-table__cell">ULN</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#6">DPOutcome Entity Definition</a></th>
	  <td class="govuk-table__cell">DPOutcome Outcome Type</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#7">OutType Outcome Code</a></th>
	  <td class="govuk-table__cell">OutCode</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#8">Outcome Start Date</a></th>
	  <td class="govuk-table__cell">OutStartDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#9">Outcome End Date</a></th>
	  <td class="govuk-table__cell">OutEndDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#10">Outcome Collection Date</a></th>
	  <td class="govuk-table__cell">OutCollDate</td>
    </tr>
  </tbody>
</table> 
-->
	

		<h2 class="govuk-heading-m">Notes and guidance</h2>
		<p>Collected for Non-levy funded apprenticeships that started on or after 1 August 2018 where the ACT record has remained non-levy. This data is not collected where a levy funded apprenticeship (ACT1) changes employer to become non-levy funded (ACT2).&nbsp;&nbsp;&nbsp;<strong class="govuk-tag">VERSION 1</strong></p>
	
		<p>Collected for learners when they have completed or withdrawn from all the activities on their original learning agreement or plan. </p>
	    <p>Not required for apprenticeship standards funded through the trailblazer funding model (FundModel 81 and ProgType 25) </p>
 		
		<ul class="list list-bullet">
					  <li>This data is required both for learners who leave the provider and for learners who are remaining with the same provider to progress to further learning.</li>
					  <li>Information about when to collect this data and examples of recording destination and progression data in different scenarios can be found in the Provider Support Manual.</li>
		</ul>
	  

	  
</div>

</div>

<div class="column-one-third">
  
<div class="gem-c-contextual-sidebar">

    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-9547b6f6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9547b6f6" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><span style="color: #6f777b;">Collection</span></br><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#">TBC</a></li>

  </ul>
</nav>

  </div>


</div>

</div>
        
      </div>
		  
		</div>
    
		  </main>
    
<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        
<div class="govuk-form-group">
    
<label for="input-332765cc" class="gem-c-label govuk-label ">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-332765cc" type="text" aria-describedby="feedback_explanation">
</div>

        
<div class="govuk-form-group">
    
<label for="input-84dbddd1" class="gem-c-label govuk-label ">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-84dbddd1" type="text">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send</button>


      </div>
    </div>
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/browse/driving/highway-code-road-safety"></form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/guidance/the-highway-code">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

        
<div class="govuk-form-group">
    
<label for="input-3142ef64" class="gem-c-label govuk-label ">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3142ef64" type="email" aria-describedby="survey_explanation">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/guidance/the-highway-code&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  

{% endblock %}
