{% extends "sprint-2/layout.html" %}

{% block pageTitle %}
  Technical specification: entity definitions and fields 
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "ILR specification 2019 to 2020",
      href: '/sprint-2/ilr-specification-2019-to-2020'
    },
    {
      text: "Specification of the individualised learner record for 2019 to 2020",
      href: '/sprint-2/specification-of-the-Individualised-learner-record-for-2019-to-2020'
    }	
	
  ]
}) }}

<a class="govuk-back-link" href="/sprint-2/specification-of-the-Individualised-learner-record-for-2019-to-2020.html">Back</a> 

{% endblock %}

{% block content %}
<div id="wrapper">
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class="manuals-frontend-body inner-block">

		  
<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context">ILR Spec</p>
      <h1 class="page-header__title">
        Technical specification: entity definitions and fields
      </h1>	
	</div>
	</div>	
	
  <div class="column-third">
    <div class="community-contact">
      <p>
        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
      </p>
    </div>
  </div>

  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="#">Education and Skills Funding Agency</a>
            </dd>
		    <dt>Published:</dt>
		    <dd>31 January 2019</dd>
			<dt>Last updated:</dt>
			<dd>
			  31 January 2019 — <a href="/sprint-2/summary-of-changes.html">see all updates</a>
			</dd>	
		
      </dl>
    </div>

  </div>
		
	
	

	
<!--<div class="column-two-thirds">
    <div class="page-header">	
	  <p class="summary">You should return only one record for each learner. The data recorded in the learner entity contains basic information specific to the learner such as their name, date of birth, sex and ethnicity</p>
    </div>
  </div>-->
	
</div>
		  

	
	  

<div class="grid-row responsive-bottom-margin">
  <div class="column-full">
	  
<blockquote class="noquotes">
	<p><strong class="govuk-tag">VERSION 1</strong>&nbsp;&nbsp;&nbsp;<a href="/sprint-2/summary-of-changes.html">Refer to summary of changes for all updates</a></p>
</blockquote>
      

<table class="govuk-table tech-spec-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header tech-spec-label" scope="row"><a href="#1">Learning Provider</a></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header tech-spec-row" scope="row"> <a href="#1">Learning Provider Entity Definition - Learning Provider</a></th>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"> <a href="#2">UK provider reference number - UKPRN</a></th>
    </tr>
  </tbody>
</table>  
	  
<table class="govuk-table tech-spec-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header tech-spec-label" scope="row"><a href="/sprint-2/entities-speficiation-definitions/learner.html">Learner</a></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header tech-spec-row" scope="row"><a href="#3">Learner Entity Definition - Learner</a></th>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#4">Learner reference number - LearnRefNumber</a></th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#5">Learner reference number in previous year - PrevLearnRefNumber</a></th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#6">UKPRN in previous year - PrevUKPRN</a></th>
    </tr>
	<tr class="govuk-table__row ">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#7">Pre-merger UKPRN - PMUKPRN</a></th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="entity-listings/campus-identifier.html">Campus Identifier - CampId</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag">VERSION 1</strong></th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#8">Unique learner number - ULN</a></th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#9">Family name - FamilyName</a></th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#10">Given names</a> - GivenNames</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#11">Date of birth</a> - DateOfBirth</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#12">Ethnicity</a> - Ethnicity</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#13">Sex</a> - Sex</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#14">LLDD and health problem</a> - LLDDHealthProb</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#15">National Insurance number</a> - NINumber</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#16">Prior attainment</a> - PriorAttain</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#17">Accommodation</a> - Accom</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#18">Learning support cost</a> - ALSCost</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#19">Planned learning hours</a> - PlanLearnHours</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#20">Planned employability, enrichment and pastoral hours</a> - PlanEEPHours</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#21">GCSE maths qualification grade</a> - MathGrade</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#22">GCSE English qualification</a> - EngGrade</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#23">Postcode prior to enrolment</a> - PostcodePrior</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#24">Postcode</a> - Postcode</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#25">Address line 1</a> - AddLine1</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#26">Address line 2</a> - AddLine2</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#27">Address line 3</a> - AddLine3</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#28">Address line 4</a> - AddLine4</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#29">Telephone number</a> - TelNo</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#30">Email address</a> - Email</th>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header tech-spec-row" scope="row"><a href="#31">Off-the-job training hours</a> - OTJHours</th>
    </tr>
  </tbody>
</table> 


<table class="govuk-table tech-spec-table">
  <p class="govuk-body govuk-!-font-size-24">Learner Contact Preference: entity</p>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#33">Learner Contact Preference Entity Definition </a></th>
	  <td class="govuk-table__cell">ContactPreference</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#34">Contact preference type</a></th>
	  <td class="govuk-table__cell">ContPrefType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#35">Contact preference code</a></th>
	  <td class="govuk-table__cell">ContPrefCode</td>
    </tr>
  </tbody>
</table> 
	
<table class="govuk-table">
  <h2 class="heading-medium">LLDD and Health Problem: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#36">LLDD and Health Problem Entity Definition </a></th>
	  <td class="govuk-table__cell">LLDDandHealthProblem</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="entity-listings/lldd-and-health-problem-category.html">LLDD and health problem category</a></th>
	  <td class="govuk-table__cell">LLDDCat</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#37">Primary LLDD and health problem</a></th>
	  <td class="govuk-table__cell">PrimaryLLDD</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <h2 class="heading-medium">Learner Funding and Monitoring: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#38">Learner Funding and Monitoring Entity Definition </a></th>
	  <td class="govuk-table__cell">LearnerFAM</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#39">Learner funding and monitoring type </a></th>
	  <td class="govuk-table__cell">LearnFAMType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#40">Learner funding and monitoring code </a></th>
	  <td class="govuk-table__cell">LearnFAMCode</td>
    </tr>
  </tbody>
</table>
	
<table class="govuk-table">
  <h2 class="heading-medium">Learner Employment Status: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#41">Learner Employment Status Entity Definition </a></th>
	  <td class="govuk-table__cell">LearnerEmploymentStatus</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#42">Employment status</a></th>
	  <td class="govuk-table__cell">EmpStat</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#43">Date employment status applies</a></th>
	  <td class="govuk-table__cell">DateEmpStatApp</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#44">Employer identifier</a></th>
	  <td class="govuk-table__cell">EmpId</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#45">Agreement identifier</a></th>
	  <td class="govuk-table__cell">AgreeId</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <h2 class="heading-medium">Learner Employment Status Monitoring: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#46">Learner Employment Status Monitoring Entity Definition</a></th>
	  <td class="govuk-table__cell">EmploymentStatusMonitoring</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#47">Employment status monitoring type </a></th>
	  <td class="govuk-table__cell">ESMType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#48">Employment status monitoring code </a></th>
	  <td class="govuk-table__cell">ESMCode</td>
    </tr>
  </tbody>
</table>  

<table class="govuk-table">
  <h2 class="heading-medium">Learner HE: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#49">Learner HE Entity Definition</a></th>
	  <td class="govuk-table__cell">LearnerHE</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#50">UCAS personal identifier</a></th>
	  <td class="govuk-table__cell">UCASPERID</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#51">Term time accommodation</a></th>
	  <td class="govuk-table__cell">TTACCOM</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <h2 class="heading-medium">Learner HE Financial Support: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#52">Learner HE Financial Support Entity Definition</a></th>
	  <td class="govuk-table__cell">LearnerHEFinancialSupport</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#53">Financial support type</a></th>
	  <td class="govuk-table__cell">FINTYPE</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#54">Financial support amount </a></th>
	  <td class="govuk-table__cell">FINAMOUNT</td>
    </tr>
  </tbody>
</table>
	  
<table class="govuk-table">
  <h2 class="heading-medium">Learning Delivery: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#55">Learning Delivery Entity Definition </a></th>
	  <td class="govuk-table__cell">LearningDelivery</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#56">Learning aim reference</a></th>
	  <td class="govuk-table__cell">LearnAimRef</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#57">Aim type </a></th>
	  <td class="govuk-table__cell">AimType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#58">Aim sequence number</a></th>
	  <td class="govuk-table__cell">AimSeqNumber</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#59">Learning start date </a></th>
	  <td class="govuk-table__cell">LearnStartDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#60">Original learning start date </a></th>
	  <td class="govuk-table__cell">OrigLearnStartDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#61">Learning planned end date</a></th>
	  <td class="govuk-table__cell">LearnPlanEndDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#62">Funding model </a></th>
	  <td class="govuk-table__cell">FundModel</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#63">Programme type</a></th>
	  <td class="govuk-table__cell">ProgType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#64">Framework code</a></th>
	  <td class="govuk-table__cell">FworkCode</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#65">Apprenticeship pathway</a></th>
	  <td class="govuk-table__cell">PwayCode</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#66">Apprenticeship standard code </a></th>
	  <td class="govuk-table__cell">StdCode</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#67">Subcontracted or partnership UKPRN </a></th>
	  <td class="govuk-table__cell">PartnerUKPRN</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#68">Delivery location postcode</a></th>
	  <td class="govuk-table__cell">DelLocPostCode</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#69">Additional delivery hours </a></th>
	  <td class="govuk-table__cell">AddHours</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#70">Funding adjustment for prior learning </a></th>
	  <td class="govuk-table__cell">PriorLearnFundAdj</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#71">Other funding adjustment</a></th>
	  <td class="govuk-table__cell">OtherFundAdj</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#72">Contract reference number</a></th>
	  <td class="govuk-table__cell">ConRefNumber</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#73">End point assessment organisation</a></th>
	  <td class="govuk-table__cell">EPAOrgID</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#74">Employment outcome</a></th>
	  <td class="govuk-table__cell">EmpOutcome</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#75">Completion status </a></th>
	  <td class="govuk-table__cell">CompStatus</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#76">Learning actual end date </a></th>
	  <td class="govuk-table__cell">LearnActEndDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="entity-listings/withdrawal-reason.html">Withdrawal reason</a></th>
	  <td class="govuk-table__cell">WithdrawReason</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#77">Outcome</a></th>
	  <td class="govuk-table__cell">Outcome</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#78">Achievement date </a></th>
	  <td class="govuk-table__cell">AchDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#79">Outcome grade</a></th>
	  <td class="govuk-table__cell">OutGrade</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#80">Software supplier aim identifier</a></th>
	  <td class="govuk-table__cell">SWSupAimId</td>
    </tr>
  </tbody>
</table>
	  
<table class="govuk-table">
  <h2 class="heading-medium">Learning Delivery Funding and Monitoring: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#81">Learning Delivery Funding and Monitoring Entity Definition</a></th>
	  <td class="govuk-table__cell">LearningDeliveryFAM</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="/funding-streams/entity-listings/learning-delivery-fam-type.html">Learning delivery funding and monitoring type</a></th>
	  <td class="govuk-table__cell">LearnDelFAMType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#83">Learning delivery funding and monitoring code</a></th>
	  <td class="govuk-table__cell">LearnDelFAMCode</td>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#84">Date applies from</a></th>
	  <td class="govuk-table__cell">LearnDelFAMDateFrom</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#85">Date applies to </a></th>
	  <td class="govuk-table__cell">LearnDelFAMDateToe</td>
    </tr>
  </tbody>
</table>
	  
<table class="govuk-table">
  <h2 class="heading-medium">Apprenticeship Financial Record: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#86">Apprenticeship Financial Record Entity Definition</a></th>
	  <td class="govuk-table__cell">AppFinRecord</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#87">Apprenticeship financial type</a></th>
	  <td class="govuk-table__cell">AFinType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#88">Apprenticeship financial code</a></th>
	  <td class="govuk-table__cell">AFinCode</td>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#89">Apprenticeship financial record date </a></th>
	  <td class="govuk-table__cell">AFinDate</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#90">Apprenticeship financial amount</a></th>
	  <td class="govuk-table__cell">AFinAmount</td>
    </tr>
  </tbody>
</table>	
	  
<table class="govuk-table">
  <h2 class="heading-medium">Learning Delivery Provider Specified Monitoring: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#91">Learning Delivery Provider Specified Monitoring Entity Definition</a></th>
	  <td class="govuk-table__cell">ProviderSpecDeliveryMonitoring</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#92">Provider specified delivery monitoring occurrence </a></th>
	  <td class="govuk-table__cell">ProvSpecDelMonOccur</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#93">Apprenticeship financial code</a></th>
	  <td class="govuk-table__cell">ProvSpecDelMon</td>
    </tr>
  </tbody>
</table>
	  
<table class="govuk-table">
  <h2 class="heading-medium">Learning Delivery HE: entity</h2>
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#94">Learning Delivery HE Entity Definition </a></th>
	  <td class="govuk-table__cell">LearningDeliveryHE</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#95">Student instance identifier</a></th>
	  <td class="govuk-table__cell">NUMHUS</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#96">Student support number</a></th>
	  <td class="govuk-table__cell">SSN</td>
    </tr>
	 <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#97">Qualification on entry</a></th>
	  <td class="govuk-table__cell">QUALENT3</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#98">Occupation code</a></th>
	  <td class="govuk-table__cell">SOC2000</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#99">Socio-economic indicator</a></th>
	  <td class="govuk-table__cell">SEC</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#100">UCAS application code</a></th>
	  <td class="govuk-table__cell">UCASAPPID</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#101">Type of instance year</a></th>
	  <td class="govuk-table__cell">TYPEYR</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#102">Mode of study</a></th>
	  <td class="govuk-table__cell">MODESTUD</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#103">Level applicable to Funding Council HEIFES</a></th>
	  <td class="govuk-table__cell">FUNDLEV</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#104">Completion of year of instance</a></th>
	  <td class="govuk-table__cell">FUNDCOMP</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#105">Student instance FTE</a></th>
	  <td class="govuk-table__cell">STULOAD</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#106">Year of student on this instance </a></th>
	  <td class="govuk-table__cell">YEARSTU</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#107">Major source of tuition fees</a></th>
	  <td class="govuk-table__cell">MSTUFEE</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#108">Percentage not taught by this institution</a></th>
	  <td class="govuk-table__cell">PCOLAB</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#109">Percentage taught in first LDCS subject </a></th>
	  <td class="govuk-table__cell">PCFLDCS</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#110">Percentage taught in second LDCS subject </a></th>
	  <td class="govuk-table__cell">PCSLDCS</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#111">Percentage taught in third LDCS subject </a></th>
	  <td class="govuk-table__cell">PCTLDCS</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#112">Special fee indicator</a></th>
	  <td class="govuk-table__cell">SPECFEE</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#113">Net tuition fee </a></th>
	  <td class="govuk-table__cell">NETFEE</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#114">Gross tuition fee </a></th>
	  <td class="govuk-table__cell">GROSSFEE</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#115">Domicile </a></th>
	  <td class="govuk-table__cell">DOMICILE</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#116">Equivalent or lower qualification </a></th>
	  <td class="govuk-table__cell">ELQ</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#117">HE centre location postcode</a></th>
	  <td class="govuk-table__cell">HEPostCode</td>
    </tr>
  </tbody>
</table>
	  
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<h2 class="heading-medium">Apprenticeship FinancialRecord: entity</h2>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Fields</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#118">Learner Destination and Progression Entity Definition </a></th>
	  <td class="govuk-table__cell">LearnerDestinationandProgression</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#119">Learner reference number</a></th>
	  <td class="govuk-table__cell">LearnRefNumber</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#120">Unique learner number</a></th>
	  <td class="govuk-table__cell">ULN</td>
    </tr>
  </tbody>
</table> 
	  
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<h2 class="heading-medium">DPOutcome: entity</h2>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Field</strong></th>
	  <td class="govuk-table__cell"><strong>XML Element Name</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#121">DPOutcome Entity Definition</a></th>
	  <td class="govuk-table__cell">DPOutcome</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#122">Outcome type </a></th>
	  <td class="govuk-table__cell">OutType</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#123">Outcome code</a></th>
	  <td class="govuk-table__cell">OutCode</td>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#124">Outcome start date </a></th>
	  <td class="govuk-table__cell">OutStartDate</td>
	</tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#125">Outcome end date</a></th>
	  <td class="govuk-table__cell">OutEndDate</td>
    </tr>
	<tr class="govuk-table__row">
	  <th class="govuk-table__header" scope="row"><a href="#126">Outcome collection date</a></th>
	  <td class="govuk-table__cell">OutCollDate</td>
    </tr>
  </tbody>
</table>	  

</div>
	
<!--
<div class="column-one-third">
  
<div class="gem-c-contextual-sidebar">

    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-9547b6f6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9547b6f6" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><span style="color: #6f777b;">Collection</span></br><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#">TBC</a></li>

  </ul>
</nav>

  </div>


</div>

</div>
-->    
	
      </div>
		  
		</div>
    
		  </main>
    
<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        
<div class="govuk-form-group">
    
<label for="input-332765cc" class="gem-c-label govuk-label ">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-332765cc" type="text" aria-describedby="feedback_explanation">
</div>

        
<div class="govuk-form-group">
    
<label for="input-84dbddd1" class="gem-c-label govuk-label ">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-84dbddd1" type="text">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send</button>


      </div>
    </div>
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/browse/driving/highway-code-road-safety"></form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/guidance/the-highway-code">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

        
<div class="govuk-form-group">
    
<label for="input-3142ef64" class="gem-c-label govuk-label ">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3142ef64" type="email" aria-describedby="survey_explanation">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/guidance/the-highway-code&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  

{% endblock %}
