{% extends "layout.html" %}

{% block pageTitle %}
  Campus ID
{% endblock %}


{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "ILR & PSM landing page",
      href: "#"
    },
	{
      text: "Funding Models",
      href: "#"
    },
	{
      text: "Community Learning funded learning: Funding Models",
      href: "/community-learning-funding-models.html"
    },
    {
      text: "Campus ID: Entity"
    }
  ]
}) }}


  <a class="govuk-back-link" href="/community-learning-funding-models.html">Back</a> 

{% endblock %}

{% block content %}

  <main role="main" id="content" class="answer" lang="en">
      

<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context">ILR Spec</p>
      <h1 class="page-header__title">
        Campus ID: entity
      </h1>
    </div>
  </div>

  <div class="column-third">

    <div class="community-contact">
      <p>
        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
      </p>
    </div>
  </div>
</div>
	  
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="#">Education and Skills Funding Agency</a>
            </dd>
        <dt>Last updated:</dt>
        <dd>
          26 June 2018
        </dd>
      </dl>
    </div>

  </div>
</div>

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds">
    
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
    
      
<div class="summary">
	<p class="summary"><a href="#">Part of the Learner field listings</a></p>
</div>
	
<h2 class="govuk-heading-m">About the field</h2>
<p>To allow identification of provision delivered across the various sites of merged institutions.</p>
	
<h2 class="govuk-heading-m">How it’s used</h2>
<p>The identifier of a campus within a college group and no longer a separate legal entity but previously operated as an incorporated college with a UKPRN.</p>
	
<h2 class="govuk-heading-m">When to use</h2>
<p>When notified to do so.</p>

</div>      

<table class="govuk-table">
  <caption class="govuk-table__caption">Schema definitions</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">XML Element Name</th>
      <td class="govuk-table__cell">CampId</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Field length</th>
      <td class="govuk-table__cell">8</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Data type</th>
      <td class="govuk-table__cell">RestrictedString</td>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Minimum occurrences</th>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Maximum occurrences</th>
      <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Part of</th>
      <td class="govuk-table__cell">Learner</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption">Collection requirements</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">This field is collected for all learners.</td>
    </tr>
  </tbody>
</table>
	
<table class="govuk-table">
  <caption class="govuk-table__caption">Valid entries</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Must be in a valid look up. This is a 8-digit identifier using alphanumeric characters.</td>
    </tr>
  </tbody>
</table>
	
<table class="govuk-table">
  <caption class="govuk-table__caption"><strong class="govuk-tag">
  VERSION 2
</strong>&nbsp;&nbsp;&nbsp;Pattern</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">[A-Za-z0-9]{1,8}</th>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

<blockquote class="noquotes">
	<p><strong class="govuk-tag">VERSION 2</strong>&nbsp;&nbsp;&nbsp;Version 2 changes: Updates Published March 2018</p>
	<h3 class="govuk-heading-m">What's changed?</h3>
	<p>Pattern has been corrected to [A-Za-z0-9]{1,8}</p>
	<p>The pattern was incorrect in version 1.
    </br>“8” is the change to the pattern in version 2.</p>
	</blockquote>

</div>
	


  
<div class="column-one-third">
  
<div class="gem-c-contextual-sidebar">

    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-9547b6f6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9547b6f6" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#">Funding Models and A-Z</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="/change-vehicle-details-registration-certificate">Entity Definitions</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="#">Attribute Codes</a></li>

  </ul>
</nav>

  </div>


</div>

</div>


  


</div>


  



    </main>

{% endblock %}
