{% extends "layout.html" %}

{% block pageTitle %}
  Community Learning Funding Models
{% endblock %}

{% block beforeContent %}
{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Submitting Individualised learner record data and guidance to meet the requirements (ILR)",
      href: '/specification-of-the-individualised-learner-record-and-guidance-2019-2020'
    },
    {
      text: "Specification of the individualised learner record for 2019 to 2020",
      href: '/specification-of-the-Individualised-learner-record-for-2019-to-2020'
    },
	{
      text: "Funding Streams",
      href: "/funding-streams/funding-streams"
    }
	
  ]
}) }}

<a class="govuk-back-link" href="/funding-streams/funding-streams.html">Back</a> 

{% endblock %}

{% block content %}
<div id="wrapper">
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class="manuals-frontend-body inner-block">

		  
<div class="grid-row">

  	<div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context">ILR Spec</p>
      <h1 class="page-header__title">
        Community and learning funding stream: collection requirements
      </h1>
    </div>
  </div>
	
	
  	<div class="column-third">

    <div class="community-contact">
      <p>
        <a class="feedback" href="#">Give feedback about this page</a>
      </p>
    </div>
  </div>
	
</div>
		  
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="#">Education and Skills Funding Agency</a>
            </dd>
		    <dt>Published:</dt>
		    <dd>14 February 2018</dd>
			<dt>Last updated:</dt>
			<dd>
			  26 June 2018 — <a href="#history">see all updates</a>
			</dd>	
		
      </dl>
    </div>

  </div>
</div>

		  
<div class="grid-row">		  
<div class="column-two-thirds">
    <div class="page-header">	
	  <h2 class="heading-medium">Overview</h2>
	  <p class="summary">The tables in this section list the fields that are collected. 
	  </p>
    </div>
  </div>
</div>	
	  

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds">
	  
<blockquote class="noquotes">
	<p><strong class="govuk-tag">VERSION 1</strong>&nbsp;&nbsp;&nbsp;Version 1 changes: Updates Published February 2018</p>
	<h3 class="govuk-heading-m">What's changed?</h3>
	<p>Campus identifier: entity has been added</p>
	<p>Learning start date postcode: entity has been added</p>

	</blockquote>

</div>
      

<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Learner</strong></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#1">Learner reference number</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#2">Pre-merger UKPRN</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="/funding-streams/community-funding-models/campus-identifier.html">Campus Identifier</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag">VERSION 1</strong></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#3">Unique learner number</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#4">Family name</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#5">Given names</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#6">Family name</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#7">Date of birth</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#8">Ethnicity</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#9">Sex</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#10">LLDD and health problem</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#11">Planned learning hours</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#12">Postcode prior to enrolment</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#13">Postcode </a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#14">Address line 1 </a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#15">Address line 2 </a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#16">Address line 3 </a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#17">Address line 4 </a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#18">Telephone number </a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#19">Email address </a></th>
    </tr>
    
  </tbody>
</table>

<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Learner Contact Preference</strong></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#20">Contact Preference Type</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#21">Contact Preference Code</a></th>
    </tr>	
    
  </tbody>
</table>
	
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>LLDD and Health Problem</strong></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="/funding-streams/community-funding-models/lldd-and-health-problem-category.html">LLDD and health problem category</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#22">Primary LLDD and health problem</a></th>
    </tr>	
    
  </tbody>
</table>
	  
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Learner Funding and Monitoring</strong></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#23">Learner Funding and Monitoring Type</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#24">Learner Funding and Monitoring Code</a></th>
    </tr>	
    
  </tbody>
</table>
	  
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Learning Delivery</strong></th>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#25">Learning aim reference</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#26">Aim type</a></th>
    </tr>	
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#27">Aim sequence number</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#28">Learning start date</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#29">Learning planned end date</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#30">Funding model</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#31">Delivery location postcode</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#31">Learning start date postcode</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag">VERSION 1</strong></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#32">Completion status</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#33">Learning actual end date</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="/funding-streams/community-funding-models/withdrawal-reason.html">Withdrawal reason</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#34">Outcome</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#35">Outcome grade</a></th>
    </tr>
    
  </tbody>
</table>
	
	  
<table class="govuk-table">
  <tbody class="govuk-table__body">
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><strong>Learning Delivery FAM</strong></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="/funding-streams/community-funding-models/learning-delivery-fam-type.html">Learning Delivery Funding Type</a></th>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row"><a href="#37">Learning Delivery Funding Code</a></th>
    </tr>   
  </tbody>
</table>
	



	


  
<div class="column-one-third">
  
<div class="gem-c-contextual-sidebar">

    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-9547b6f6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9547b6f6" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#">Funding Streams</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="/change-vehicle-details-registration-certificate">Entity Definitions</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="#">Attribute Codes</a></li>

  </ul>
</nav>

  </div>


</div>

</div>


  


</div>


        
      </div>
    </main>
    
<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        
<div class="govuk-form-group">
    
<label for="input-332765cc" class="gem-c-label govuk-label ">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-332765cc" type="text" aria-describedby="feedback_explanation">
</div>

        
<div class="govuk-form-group">
    
<label for="input-84dbddd1" class="gem-c-label govuk-label ">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-84dbddd1" type="text">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send</button>


      </div>
    </div>
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/browse/driving/highway-code-road-safety"></form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/guidance/the-highway-code">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

        
<div class="govuk-form-group">
    
<label for="input-3142ef64" class="gem-c-label govuk-label ">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3142ef64" type="email" aria-describedby="survey_explanation">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/guidance/the-highway-code&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  </div>
  

{% endblock %}
