{% extends "layout.html" %}

{% block pageTitle %}
  Example of using variables in pages
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "ILR & PSM landing page",
      href: '/ilr-psm-home'
    },
    {
      text: "Individualised Learner Record Specification",
      href: '/ilr-specification-landing-page'
    },
	{
      text: "Funding Streams"
    }
	
  ]
}) }}

<a class="govuk-back-link" href="/ilr-specification-landing-page.html">Back</a> 

{% endblock %}

{% block content %}
<div id="wrapper">
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class="manuals-frontend-body inner-block">

		  
<div class="grid-row">

  	<div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context">ILR Spec</p>
      <h1 class="page-header__title">
        Funding Streams
      </h1>	
	  <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	  </p>
    </div>
  </div>
	
	
  	<div class="column-third">

    <div class="community-contact">
      <p>
        <a class="feedback" href="/contact/govuk">Give feedback about this page</a>
      </p>
    </div>
  </div>
	
</div>
		  
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
          <dt>Published by:</dt>
            <dd>
              <a href="#">Education and Skills Funding Agency</a>
            </dd>
		    <dt>Published:</dt>
		    <dd>14 February 2018</dd>
			<dt>Last updated:</dt>
			<dd>
			  26 June 2018 — <a href="#history">see all updates</a>
			</dd>	
		
      </dl>
    </div>

  </div>
</div>
	
	  

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds">
      

		<ol class="section-list" style="margin:0px;">
			  <li>
			  <a class="" href="/funding-streams/community-learning-funding-models.html">
				  <span class="subsection-title-text">Community Learning: Funding model 10 </span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">16-19 (excluding apprenticeships): Funding model 25</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">Adult Skills: Funding model 35</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">Apprenticeships from 1 May 2017: Funding model 36</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">European Social Fund (ESF): Funding model 70</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
	</a>          </li>
			  <li>
			  <a class="" href="/community-learning-funding-models">
				  <span class="subsection-title-text">Other Adult: Funding model 81</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	</span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">Other 16-19: Funding model 82</span>
				  <span class="subsection-summary">Guidance for all providers covering, field definition and length, XML name, collections requirements and attribute codes. </span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">Non-funded (No ESFA funding for this learning aim)</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">Field listings A-Z</span>
				  <span class="subsection-summary">This software is supplied free of charge to users who will submit 2017/18 ILR data to the Skills Funding Agency in the funding year but who do not have access to a data management system.</span> 
				  <span class="subsection-summary">This application will not be supported where data sets exceed 500 learner records.
				  </span>
	</a>          </li>
			  <li>
			  <a class="" href="#">
				  <span class="subsection-title-text">Categorised Entity and Field listings</span>
				  <span class="subsection-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
	</a>          </li>

			</ol>  

	



	


  



  


</div>

<div class="column-one-third">
  
<div class="gem-c-contextual-sidebar">

    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-9547b6f6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9547b6f6" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#">Funding Models and A-Z</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="/change-vehicle-details-registration-certificate">Entity Definitions</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="#">Attribute Codes</a></li>

  </ul>
</nav>

  </div>


</div>

</div>
        
      </div>
		  
		</div>
    
		  </main>
    
<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        
<div class="govuk-form-group">
    
<label for="input-332765cc" class="gem-c-label govuk-label ">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-332765cc" type="text" aria-describedby="feedback_explanation">
</div>

        
<div class="govuk-form-group">
    
<label for="input-84dbddd1" class="gem-c-label govuk-label ">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-84dbddd1" type="text">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send</button>


      </div>
    </div>
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/browse/driving/highway-code-road-safety"></form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/guidance/the-highway-code">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

        
<div class="govuk-form-group">
    
<label for="input-3142ef64" class="gem-c-label govuk-label ">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3142ef64" type="email" aria-describedby="survey_explanation">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/guidance/the-highway-code&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  

{% endblock %}
