{% extends "sprint-2/layout.html" %}

{% block pageTitle %}
  ILR Specification Validation Rules and Appendices
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Submitting Individualised learner record data and guidance to meet the requirements (ILR)",
      href: '/sprint-2/specification-of-the-individualised-learner-record-and-guidance-2019-2020'
    }
  ]
}) }}

<a class="govuk-back-link" href="/sprint-2/specification-of-the-individualised-learner-record-and-guidance-2019-2020.html">Back</a> 

{% endblock %}

{% block content %}
<div id="wrapper">
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class="manuals-frontend-body inner-block">
        


<header aria-labelledby="manual-title" class="">

  <div class="primary">
	<p class="gem-c-title__context" style="color: #FFFFFF;">Guidance</p>
    <h1 id="manual-title">Provider Support Manual for 2018 to 2019 (Version 1)</h1>
    <div class="gem-c-metadata gem-c-metadata--inverse" data-module="gem-toggle">
  <dl data-module="track-click">
      <dt class="gem-c-metadata__term">From:</dt>
      <dd class="gem-c-metadata__definition">
          <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency">Education and Skills Funding Agency
</a>

      </dd>
      <dt class="gem-c-metadata__term">Published:</dt>
      <dd class="gem-c-metadata__definition"><time datetime="2015-10-01">31 January 2019</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
              <time datetime="2018-06-26">31 January 2019</time>, <a href="#">see all updates</a>

          </dd>
  </dl>
</div>

    <div class="in-manual-search">
      <form action="/search">
        <label for="search-box">Search this manual</label>
        <input type="hidden" name="filter_manual[]" value="/guidance/the-highway-code">
        <input id="search-box" class="in-manual-search-box" type="text" name="q">
        <button type="submit">search</button>
      </form>
    </div>
  </div>
  <div class="secondary">
    <div class="secondary-inner">
      <p>
        <a class="feedback" href="#">Give feedback about this page</a>
      </p>
    </div>
  </div>
</header>

<ol class="breadcrumb-trail">
    <li class="no-separator">Contents</li>

</ol>

<article aria-labelledby="manual-title" id="content">
  <div class="manual-body">
    <p class="summary">Up-to-date guidance for submitting Individualised Learner Reports (ILR)</p>
    

	<ol class="section-list" style="margin-top:30px">
        <li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording traineeship programmes Introduction to Individualised Learner Reports (ILR)</span>
			  <span class="subsection-summary"><p>Find out about ILR, what ILR data used for and who is required to send us ILR data returns.</p></span>
		  </a>   
		</li>
        <li>
          <a class="" href="/sprint-2/provider-support-manual-s2.html">
              <span class="subsection-title-text">Collecting and submitting ILR data</span>
			  <span class="subsection-summary"><p>Five data management principles must be adhered to when submitting and ILR.
				Find out how to collect and when to send ILR data.</p></span>
          </a>          
		</li>
        <li>
          <a class="" href="#">
              <span class="subsection-title-text">Guidance for all provision</span>
              <span class="subsection-summary"><p>What to include and what not to include when completing the final return for the current year.</p></span>
		  </a>            
		</li>
        <li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording learner changes</span>
			  <span class="subsection-summary"><p>Guidance about:</p></span>
			  <span class="subsection-summary">
			  <ul class="list list-bullet">
				  <li>Correcting errors.</li>
				  <li>Recording changes to a learner’s details.</li>
				  <li>Recording changes to a learner’s programme or learning aim.</li>
			  </ul>	    
		  </a>          
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording apprenticeship programmes</span>
              <span class="subsection-summary"><p>Guidance for all apprenticeship programmes and examples.</p></span>
		  </a>            
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording traineeship programmes</span>
              <span class="subsection-summary"><p>Guidance for recording Traineeships for 16 to 24 year olds including:</p></span>
			  <span class="subsection-summary">
			  <ul class="list list-bullet">
				  <li>Work experience , work preparation.</li>
				  <li>Completion, achievement and retention.</li>
				  <li>Early leavers and transfers.</li>
				  <li>Destination and progression information.</li>
			  </ul>
			  Includes examples on how to record  the Outcome fields in different scenarios.
			  </span>
		  </a>            
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording 16-19 study programmes</span>
              <span class="subsection-summary"><p>16-19 funded study programmes are recorded on the ILR using Funding model code 25. A programme aim record (Aim type = 1) is not required for these study programme unless the learner is doing a traineeship programme.</p></span>
		  </a>            
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">ESF funded learning aims</span>
              <span class="subsection-summary"><p>For the ESF 2014 to 2020 Programme, all records for all learners who have received ESF funding as part of the current programme must continue to be returned for the duration of the ESF programme.</p></span>
		  </a>            
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording A and AS levels</span>
              <span class="subsection-summary"><p>You must accurately record the learning aim that a learner is working towards: either an AS or A level learning aim.</p></span>
		  </a>            
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording Household situation</span>
              <span class="subsection-summary"><p>Used to record the household situation that applies at the start of each learning aim. This does not need to be updated if the household situation subsequently changes. Find out when to use household situation codes.</p></span>
		  </a>            
		</li>
		<li>
          <a class="" href="#">
              <span class="subsection-title-text">Field collection requirements tables</span>
              <span class="subsection-summary"><p>The tables in this section list the fields that are collected for the different funding models. Not all fields listed will need to be completed for all learners in all circumstances.</p></span>
		  </a>            
		</li>
	</ol>
		  
		
  </div>
</article>
	



        <!--<div class="print-page">
          <a onclick="window.print();return false;" href="#">Print this page</a>
        </div>-->
      </div>
    </main>
    
<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        
<div class="govuk-form-group">
    
<label for="input-332765cc" class="gem-c-label govuk-label ">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-332765cc" type="text" aria-describedby="feedback_explanation">
</div>

        
<div class="govuk-form-group">
    
<label for="input-84dbddd1" class="gem-c-label govuk-label ">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-84dbddd1" type="text">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send</button>


      </div>
    </div>
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/browse/driving/highway-code-road-safety"></form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/guidance/the-highway-code">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

        
<div class="govuk-form-group">
    
<label for="input-3142ef64" class="gem-c-label govuk-label ">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3142ef64" type="email" aria-describedby="survey_explanation">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/guidance/the-highway-code&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  </div>
  

{% endblock %}
