{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "ILR & PSM landing page",
      href: "#"
    },
	{
      text: "Funding Models",
      href: "#"
    },
	{
      text: "Selected Funding Model",
      href: "#"
    },
    {
      text: "Campus ID: Entity"
    }
  ]
}) }}


  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div class="grid-row">
    <div class="column-two-thirds">
        
  <div class="gem-c-contextual-footer">
    
  <div class="gem-c-related-navigation">





      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-27df911c" data-module="gem-toggle">

    <h2 id="related-nav-topics-27df911c" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the ILR</h2>

  <ul class="gem-c-related-navigation__link-list" data-module="track-click">

        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Introduction to ILR Specification</a></li>
		<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">ILR Structure</a></li>
	    <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Format of the ILR file</a></li>
		<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Summary of Changes 2019-2020</a></li>
	    <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Funding Models and A-Z</a></li>
		<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Recording valid postcodes</a></li>
	    <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Programme Aims</a></li>
		<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Entity Definitions</a></li>
	    <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Attribute Codes</a></li>
		<li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">Contact</a></li>
	    <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--footer"  href="#">PSM</a></li>
	  
  </ul>
</nav>

  </div>

  <div class="print-page">
          <a onclick="window.print();return false;" href="#">Print this page</a>
  </div>	  
	  
  </div>


    </div>
  </div>

  <main role="main" id="content" class="answer" lang="en">
      

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="gem-c-title
  
  gem-c-title--margin-bottom-5">
  <h1 class="gem-c-title__text ">
    Campus ID: Entity
  </h1>
	
</div>

  </div>
</div>

<div class="grid-row responsive-bottom-margin">
  <div class="column-two-thirds">
    
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube">
    
      
<div class="summary">
<p class="summary">Part of the Learner field listings</p>
</div>
	
<h2 class="govuk-heading-m">About the field</h2>
<p>To allow identification of provision delivered across the various sites of merged institutions.</p>
	
<h2 class="govuk-heading-m">How it’s used</h2>
<p>The identifier of a campus within a college group and no longer a separate legal entity but previously operated as an incorporated college with a UKPRN.</p>
	
<h2 class="govuk-heading-m">When to use</h2>
<p>When notified to do so.</p>

</div>      

<table class="govuk-table">
  <caption class="govuk-table__caption">Schema definitions</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">XML Element Name</th>
      <td class="govuk-table__cell">CampId</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Field length</th>
      <td class="govuk-table__cell">8</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Data type</th>
      <td class="govuk-table__cell">RestrictedString</td>
    </tr>
	<tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Minimum occurrences</th>
      <td class="govuk-table__cell">0</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Maximum occurrences</th>
      <td class="govuk-table__cell">1</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Part of</th>
      <td class="govuk-table__cell">Learner</td>
    </tr>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption">Collection requirements</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">This field is collected for all learners.</th>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
	
<table class="govuk-table">
  <caption class="govuk-table__caption">Valid entries</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Must be in a valid look up. This is a 8-digit identifier using alphanumeric characters.</th>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>
	
<table class="govuk-table">
  <caption class="govuk-table__caption"><strong class="govuk-tag">
  VERSION 2
</strong>&nbsp;&nbsp;&nbsp;Pattern</caption>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">[A-Za-z0-9]{1,8}</th>
      <td class="govuk-table__cell"></td>
    </tr>
  </tbody>
</table>

	

</div>
	


  
<div class="column-one-third">
  
<div class="gem-c-contextual-sidebar">

    
  <div class="gem-c-related-navigation">

      <h2 id="related-nav-related_items-9547b6f6" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
        Related content
      </h2>




      <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-9547b6f6" data-module="gem-toggle">


  <ul class="gem-c-related-navigation__link-list" data-module="track-click">


        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other" href="#">Funding Models and A-Z</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="/change-vehicle-details-registration-certificate">Entity Definitions</a></li>
	  
        <li class="gem-c-related-navigation__link"><a class="gem-c-related-navigation__section-link gem-c-related-navigation__section-link--sidebar  gem-c-related-navigation__section-link--other"  href="#">Attribute Codes</a></li>

  </ul>
</nav>

  </div>


</div>

</div>

</div>


  



    </main>

{% endblock %}
