{% extends "layout.html" %}

{% block pageTitle %}
  Example of using variables in pages
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "ILR & PSM landing page",
      href: '/ilr-psm-home'
    },
    {
      text: "Individualised Learner Record Specification"
    }
  ]
}) }}

<a class="govuk-back-link" href="/ilr-psm-home.html">Back</a> 

{% endblock %}

{% block content %}
<div id="wrapper">
    <main role="main" class="hmrc-internal-manuals-frontend-content outer-block">
      <div id="manuals-frontend" class="manuals-frontend-body inner-block">


<header aria-labelledby="manual-title" class="">

  <div class="primary">
	<p class="gem-c-title__context" style="color: #FFFFFF;">Guidance</p>
    <h1 id="manual-title">ILR Specification 2018 to 2019: version 3</h1>
    <div class="gem-c-metadata gem-c-metadata--inverse" data-module="gem-toggle">
  <dl data-module="track-click">
      <dt class="gem-c-metadata__term">From:</dt>
      <dd class="gem-c-metadata__definition">
          <a href="#">Education and Skills Funding Agency</a>

      </dd>
      <dt class="gem-c-metadata__term">Published:</dt>
      <dd class="gem-c-metadata__definition"><time datetime="2018-02-14">14 February 2018</time></dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition">
              <time datetime="2018-06-26">26 June 2018</time>, <a href="#">see all updates</a>

          </dd>
  </dl>
</div>

    <div class="in-manual-search">
      <form action="/search">
        <label for="search-box">Search this manual</label>
        <input type="hidden" name="filter_manual[]" value="/guidance/the-highway-code">
        <input id="search-box" class="in-manual-search-box" type="text" name="q">
        <button type="submit">search</button>
      </form>
    </div>
  </div>
  <div class="secondary">
    <div class="secondary-inner">
      <p>
        <a class="feedback" href="https://www.gov.uk/contact/govuk">Give feedback about this page</a>
      </p>
    </div>
  </div>
</header>

<ol class="breadcrumb-trail">
    <li class="no-separator">Contents</li>

</ol>

<article aria-labelledby="manual-title" id="content">
  <div class="manual-body">
    <p class="summary">Specification of the Individualised Learner Record for 2018 to 2019</p>
      
<div class="gem-c-govspeak govuk-govspeak ">

</div>

        <ol class="section-list">
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Introduction to ILR Specification</span>
              <span class="subsection-summary">This technical document is aimed at those responsible for the collection and return of learner data and to assist with data specification implementation and MI system design.</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">ILR Structure</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Format of the ILR file</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Summary of Changes 2019-2020</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="/community-learning-funding-models">
              <span class="subsection-title-text">Funding Models and A-Z</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Recording valid postcodes</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Programme Aims</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Entity Definitions</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
		  <li>
		  <a class="" href="#">
              <span class="subsection-title-text">Attribute Codes</span>
              <span class="subsection-summary">Contains: Lorem Ipsum</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">Contact</span>
              <span class="subsection-summary">Signpost</span>
</a>          </li>
          <li>
          <a class="" href="#">
              <span class="subsection-title-text">PSM</span>
              <span class="subsection-summary">Signpost.</span>
</a>          </li>
          <li>
        </ol>
  </div>
</article>


        <div class="print-page">
          <a onclick="window.print();return false;" href="#">Print this page</a>
        </div>
      </div>
    </main>
    
<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
  <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
    <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
      <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

      <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
        Maybe
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
        Yes <span class="visually-hidden">this page is useful</span>
</a>
      <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
        No <span class="visually-hidden">this page is not useful</span>
</a>
      <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
        Is there anything wrong with this page?
</a>    </div>

    <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
      Thank you for your feedback
    </div>
  </div>

  <form action="/contact/govuk/problem_reports" id="something-is-wrong" class="gem-c-feedback__form js-feedback-form js-hidden" data-track-category="Onsite Feedback" data-track-action="GOV.UK Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close gem-c-feedback__js-show js-close-form" data-track-category="Onsite Feedback" data-track-action="GOV.UK Close Form" aria-controls="something-is-wrong" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary gem-c-feedback__js-show js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="feedback_explanation" class="gem-c-feedback__form-paragraph">Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        
<div class="govuk-form-group">
    
<label for="input-332765cc" class="gem-c-label govuk-label ">
  What were you doing?
</label>




  <input name="what_doing" class="gem-c-input govuk-input" id="input-332765cc" type="text" aria-describedby="feedback_explanation">
</div>

        
<div class="govuk-form-group">
    
<label for="input-84dbddd1" class="gem-c-label govuk-label ">
  What went wrong?
</label>




  <input name="what_wrong" class="gem-c-input govuk-input" id="input-84dbddd1" type="text">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send</button>


      </div>
    </div>
  <input type="hidden" name="javascript_enabled" value="true"><input type="hidden" name="referrer" value="https://www.gov.uk/browse/driving/highway-code-road-safety"></form>

  <form action="/contact/govuk/email-survey-signup" id="page-is-not-useful" class="gem-c-feedback__form gem-c-feedback__form--email gem-c-feedback__js-show js-feedback-form js-hidden" data-track-category="yesNoFeedbackForm" data-track-action="Send Form" method="post" aria-hidden="true">
    <a href="#" class="gem-c-feedback__close js-close-form" data-track-category="yesNoFeedbackForm" data-track-action="ffFormClose" aria-controls="page-is-not-useful" aria-expanded="true" role="button">Close</a>

    <div class="gem-c-feedback__grid-row">
      <div class="gem-c-feedback__column-two-thirds">
        <div class="gem-c-feedback__error-summary js-hidden js-errors" tabindex="-1"></div>

        <input type="hidden" name="url" value="https://www.gov.uk/guidance/the-highway-code">
        <input type="hidden" name="user_agent" value="Mozilla/5.0 (iPhone; CPU iPhone OS 12_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0 Mobile/15E148 Safari/604.1">

        <input name="email_survey_signup[survey_id]" type="hidden" value="footer_satisfaction_survey">
        <input name="email_survey_signup[survey_source]" type="hidden" value="https://www.gov.uk/guidance/the-highway-code">
        <input name="email_survey_signup[ga_client_id]" type="hidden" value="1627485790.1515403243">

        <h3 class="gem-c-feedback__form-heading">Help us improve GOV.UK</h3>
        <p id="survey_explanation" class="gem-c-feedback__form-paragraph">To help us improve GOV.UK, we’d like to know more about your visit today. We’ll send you a link to a feedback form. It will take only 2 minutes to fill in. Don’t worry we won’t send you spam or share your email address with anyone.</p>

        
<div class="govuk-form-group">
    
<label for="input-3142ef64" class="gem-c-label govuk-label ">
  Email address
</label>




  <input name="email_survey_signup[email_address]" class="gem-c-input govuk-input" id="input-3142ef64" type="email" aria-describedby="survey_explanation">
</div>

        
  <button class="gem-c-button govuk-button" type="submit">Send me the survey</button>


        <a href="https://www.smartsurvey.co.uk/s/gov-uk-banner/?c=/guidance/the-highway-code&amp;gcl=1627485790.1515403243" class="gem-c-feedback__email-link govuk-link" id="take-survey" target="_blank" rel="noopener noreferrer">Don’t have an email address?</a>
      </div>
    </div>
  </form>

</div>

  </div>
  

{% endblock %}
