<meta name="description" content="Use the GOV.UK Prototype Kit to quickly make realistic HTML prototypes of GOV.UK services.">

<!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<!--[if lte IE 8]><link href="/public/stylesheets/docs-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/docs.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

<!--link rel="stylesheet" media="all" href="http://localhost:3000/docs/views/examples/styles.css"-->

<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-c0b8ba8b1652aacad298d74f24752260187f538b50c40c2484f7f333cbc3cf2b.css" crossorigin="anonymous" integrity="sha256-wLi6ixZSqsrSmNdPJHUiYBh/U4tQxAwkhPfzM8vDzys=">

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

<link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-e9ec5a5f82e5c2a17927ce356e5a054cb28025ec1547ec5d00f5c98d2ec5e481.css" crossorigin="anonymous" integrity="sha256-6exaX4LlwqF5J841bloFTLKAJewVR+xdAPXJjS7F5IE=">


<link rel="stylesheet" media="screen" href="https://govuk-elements.herokuapp.com/public/stylesheets/govuk-elements-styles.css">

<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/manuals-frontend/application-60ebc818f1202393db638aedc832d6e81adda2b45954837508677f8d7d737963.css">

<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-320f60dee2a2d28afe3cd752be863a9de25d66721da470e146cecaeea572deb0.css">

<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/application-f35677f2dfdd8ab5b40f902eb0af96428bd19adc2e2adc819b5e1c454daa462b.css">

<!-- Search -->
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/manuals-frontend/application-0e42c339f344ec7de5f270ae04ae55b798070dcba3ddac9ec376970fc95ab389.css">

<!-- Headings -->
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/service-manual-frontend/application-4310d0914e10782781bfa8b98628d1bbc563714a87cfd1b0774e1519c8e90a0d.css">


<style>
.govuk-link, a {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.manuals-frontend-body .section-list .list li {
	list-style-type: disc;
	border:none;
}

.manuals-frontend-body .section-list .list li:last-child {
	border:none;
}

.govuk-width-container .govuk-main-wrapper {
    padding-bottom: 0px;
	margin: 0px;
}

.govuk-template__body .govuk-footer {
    border-top: 10px solid #005ea5;
}
	
blockquote.noquotes {
    padding: 15px;
    background-color: #e1e8e8;
	margin-bottom:60px;
}
	
.manuals-frontend-body .section-list .font-xsmall li {
    font-size: 16px;
    line-height: 1.25;
}
	
#content {padding-bottom:0px;}
	
.manuals-frontend-body {padding-bottom:0px;}	
	
.manuals-frontend-body .manual-body .summary {max-width: 100%;}
	
.manuals-frontend-body .section-list li a {padding-right: 0%}
	
.govuk-table__header a {font-weight: 100;}
	
.gem-c-govspeak table th {font-size:19px;}
	
.gem-c-govspeak	.govuk-table__body {font-size:19px;}
	
.gem-c-govspeak	.govuk-table {margin-top:15px;}
	
.manuals-frontend-body .section-list li a .subsection-title-text {font-size:19px;margin: 20px 0px 0px 0px;padding-bottom: 15px;font-weight:bold;}
	
.subsection-summary p {margin: 0px;padding: 0px 0px 15px 0px;}
	
.manuals-frontend-body .section-list li a {color#000000; display:inline;}
	
.manuals-frontend-body .section-list li a .subsection-summary {padding: 0px;}
	
.manuals-frontend-body .section-list .list {margin: 0px;padding-bottom: 20px;}
	
.heading-medium {margin: 15px 0px 10px 0px;}
	
.page-header {margin-top:0px;}
	
.summary {margin-bottom:40px;}
	
.govuk-heading-m {font-size: 27px;}
	
.app-c-published-dates__change-history { margin: 20px 0;}
	
.app-c-published-dates__change-item {list-style-type: none; margin-bottom: 10px;}
	
.app-c-published-dates__change-date {font-weight:bold; display:block;}
	
.tech-spec-table {margin-bottom: 0px;}

.tech-spec-label {font-weight: 100;}
	
.tech-spec-row {padding-left:50px;font-weight: 100;}
	
.tech-spec-row-sub-section {padding-left:100px;font-weight: 100;}
	
.psm-label {padding:10px 0px 5px 0px;font-weight: 100;}
	
.psm-row {padding:0px 0px 5px 50px;font-weight: 100;border:0px;}
	
.psm-row-sub-section {padding:0px 0px 5px 100px;font-weight: 100;border:0px;}
	
.psm-list {border:0px;}
	
.psm-list-border {border-bottom: 1px solid #bfc1c3;}
	

.psm-num {width:100%;float:left;}
.psm-num-head {margin-top: 0px;width: 100%;float: left;}
.psm-num-para {margin-top: 0px;width: 100%;float: left;}
.psm-num-h3 {width: 100%;float: left;padding:0px 0px 20px 0px;margin-top: 0px!important;padding-top: 35px;}
.psm-header-title {margin-bottom:0px;}
.psm-header-sub-title {margin-bottom:45px;}
	
.manuals-frontend-body .manual-body {margin:15px 0px 40px 0px;}
	
.definition-schema {margin: 50px 0px 0px 0px;}

</style>








